.harps-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

@media (min-width: 768px) {
    .harps-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .harps-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.harp {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

.harp .content h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
}

.harp .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-size: 1.8rem;
}

.harp .price {
    font-size: 4rem;
    color: var(--primary);
    margin: 0;
    font-weight: 700;
}


